<template>
<div class="hero-body about-page">
            <div class="container has-text-centered">
                <div class="columns is-vcentered">
                    <div class="column is-5">
                        <figure class="image is-4by3">
                            <img src="https://picsum.photos/800/600/?random" alt="Description">
                        </figure>
                    </div>
                    <div class="column is-6 is-offset-1">
                        <h1 class="title is-2">
                            Herolo books app project, made by Tal Amiel.
                        </h1>
                        <br>
                        <h2 class="subtitle is-4">
                            Refresh the page to see more awesome pictures :)
                        </h2>
                        <br>
                    </div>
                </div>
            </div>
        </div>
</template>

<style>
.about-page{
  text-align: center;
  height: 100vh;
}
</style>

