<template>
  <div class="books-app-container">
    <h1 class="title">Herolo Books</h1>
<button class="button is-large is-info toggle-btn" @click="toggle">Add Book</button>
    <add-book v-if="isActive" :books="books" :isActive="isActive" @modalClosed="isActive = $event"></add-book>
    <books-list :books="books"></books-list>
  </div>
</template>

<script>
import utilService from '@/services/util.service.js'
import bookService from '@/services/book.service.js'
import bookEdit from '@/components/BookEdit'
import booksList from '@/components/BooksList'
import addBook from '@/components/AddBook'

export default {
  name: 'books-app',
  created() {
        bookService.getBooks()
        .then(books => {
            this.books = books;
            
        })
    },
  data() {
      return {
        books: [],
        isActive: false,
      }
    },
    methods: {
      toggle() {
        this.isActive = !this.isActive;
      },
    },
  components: {
    bookEdit,
    booksList,
    addBook,
  }
}
</script>

<style>
.books-app-container {
    max-width: 1500px;
    width: 95%;
    padding: 15px;
    margin: 0 auto;
}

.toggle-btn {
  margin-bottom:20px;
}
</style>
