<template>
<section class="hero is-fullheight is-default is-bold">
    <book-edit @bookUpdated="book = $event" v-if="isActive" :isActive="isActive" :book="book" @modalClosed="isActive = $event"></book-edit>
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-vcentered">
                    <div v-if="book.image"  class="column is-5">
                        <figure class="image is-4by5 book-img-preview">
                            <img :src="book.image">
                        </figure>
                    </div>
                    <div class="column is-6 is-offset-1">
                        <h1 class="title is-4">
                            {{book.name | removeNonAlpha | capitalize }}
                        </h1>
                        <h1 class="title is-6">
                            Author: {{book.author}}
                        </h1>
                        <br>
                        <h2 class="subtitle is-4">
                            {{ book.description }}
                        </h2>
                        <br>
                        <h2 class="subtitle is-4">
                           Published At: {{ book.publishedDate }}
                        </h2>
                        <br>
                            <button @click="toggle" class="button is-medium is-info is-outlined edit-btn">Edit</button>
                            <button @click="showAlert" class="button is-medium is-danger is-outlined">Delete</button>
                            <br>
                            <router-link to="/books">
                            <button class="button is-medium is-info is-outlined btn-back">Go Back</button>
                            </router-link>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import bookService from '@/services/book.service.js'
import bookEdit from "@/components/BookEdit"


export default {
    name: 'book-details',
    created() {
        const bookId = +this.$route.params.bookId;
        
        bookService.getById(bookId)
        .then(book => this.book = book)
    },
        data(){
        return {
            book: '',
            isActive: false
        }
    },
        methods: {
        deleteBook() {
            bookService.deleteBook(this.book.id)
            .then(res => {
                this.$router.push('/books');
            })
        },
        toggle() {
        this.isActive = !this.isActive;
      },
        showAlert(){
        this.$swal({
        title: 'Are you sure you want to delete this book?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
        if (result.value) {
            this.deleteBook()
            this.$swal(
            'Deleted!',
            'Your book has been deleted.',
            'success'
            )
        }
        })
        }
    },
    components: {
        bookEdit
    },
    mounted() {
        window.scrollTo(0 , 0)
    }
}
</script>

<style>
.edit-btn {
    margin-right: 20px;
}

.btn-back {
    margin-top: 20px;
}

.book-img-preview img {
    border: 1px solid black;
}
</style>

