<template>
    <div :class="{'is-active' : isActive}" class="modal">
        <div @click="toggle" class="modal-background"></div>
        <div class="modal-card">
        <header class="modal-card-head">
        <p class="modal-card-title">Add Book</p>
        <button @click="toggle" class="delete" aria-label="close"></button>
        </header>
    <section class="modal-card-body">

      <form @submit.prevent="validateBeforeSubmit">

        <div class="field"> 
          <label class="label">Book Name</label>
            <input @keyup="checkName(book.name)" class="input" name="book name already exists," v-validate="{is_not : checkDuplicate}" type="text" v-model.trim="book.name" placeholder="Book Name" />
            <input class="input" name="Name" v-validate="'required'" type="hidden" v-model.trim.lazy="book.name" placeholder="Book Name" />
            <span v-show="errors.has('Name')" class="help is-danger">{{ errors.first('Name') }}</span>
            <span v-show="errors.has('book name already exists,')" class="help is-danger">{{ errors.first('book name already exists,') }}</span>
        </div>

        <div class="field">
          <label class="label">Publish Date</label>
        <date-picker @change="getDate" format="DD-MM-YYYY" lang="en"  input-class="input" placeholder="Publish Date" v-model="book.date"></date-picker>
        </div>

        <div class="field">
            <input class="input" name="Date" v-validate="'required|date_format:DD-MM-YYYY|before:'+ today" format="DD-MM-YYYY" type="hidden" v-model="book.publishedDate" placeholder="Book Name" />
            <span v-show="errors.has('Date')" class="help is-danger">{{ errors.first('Date') }}</span>
        </div>

        <div class="field">
          <br>
          <label class="label">Upload Book Cover Image</label>
          <div class="control">
             <image-upload :book="book"></image-upload>
             <br>
             <h1 class="upload-status title"  v-if="book.image"><b>Image Uploaded!</b></h1>
          </div>
        </div>

        <div class="field">
          <label class="label">Author Name</label>
            <input class="input" name="Author" v-validate="'required'" type="text" v-model.trim="book.author" placeholder="Book Author" />
            <span v-show="errors.has('Author')" class="help is-danger">{{ errors.first('Author') }}</span>
        </div>

        <div class="field">
          <label class="label">Book Description</label>
          <div class="control">
            <textarea class="textarea" v-model.trim="book.description" placeholder="Description"></textarea>
          </div>
        </div>

    <footer class="modal-card-foot">
      <button  type="submit" class="button is-success">Add Book</button>
      <button @click.prevent="toggle" class="button">Cancel</button>
    </footer>

      </form>
    </section>
  </div>
</div>
</template>

<script>
import DatePicker from 'vue2-datepicker'
import bookService from '@/services/book.service.js'
import imageUpload from '@/components/ImageUpload'


export default {
    name: 'add-book',
    props:['isActive','books'],
    data() {
        return {
          book: {
            name: '',
            id: null,
            author: '',
            date: '',
            image: '',
            publishedDate: '',
            description: '',
            },
            checkDuplicate: '',
            today: '',
        }
    },
    components: {
      DatePicker,
      imageUpload
    },
    created() {
      this.getTodayDate()
    },
    methods: {
        toggle() {
        this.$emit('modalClosed' , !this.isActive);
        this.clearBook();
      },
      uploadImg() {
        this.isUploading = !this.isUploading
      },
      clearBook() {
      this.book = {
            id: null,
            author: '',
            date: '',
            image: '',
            publishedDate: '',
            name: '',
            description: ''
      }
      },
      getDate() {
            this.book.publishedDate = this.$moment(this.book.date).format("DD-MM-YYYY")
        },
      checkName(name) {
        var found = this.books.some(function (book) {
        return book.name.toLowerCase() === name.toLowerCase();
        
       });
       if (found) {
          this.checkDuplicate = name;
        }
       },
        getTodayDate() {
          this.today = this.$moment(Date.now()).format("DD-MM-YYYY")
        },
        validateBeforeSubmit() {
            this.$validator.validateAll().then((result) => {
              if(!this.book.image) {
              this.$swal({
              type: 'error',
              title: 'Oops...',
              text: 'Please upload an image!',
            }) 
              }else if (result && this.book.image) {
              this.book.id = Date.now()
              bookService.addBook(this.book)
              this.toggle()
                this.$swal(
            'Added!',
            'Your book has been added.',
            'success'
            )
                return;
              }else if (!result)
              this.$swal({
              type: 'error',
              title: 'Oops...',
              text: 'Please fix the errors!',
            })
            });
          },
    }
}
</script>

<style>
.upload-status {
  text-align: center;
}

.modal-card-foot {
  justify-content: center !important;
}
</style>
