<template>

        <section class="books-list">
            <ul>
                <li v-for="book in books" :key="book.id">
                <router-link :to="'/books/'+book.id">
                    <book-preview :book="book"></book-preview>
                </router-link>
                </li>
            </ul>
        </section>

</template>


<script>
import bookPreview from "@/components/BookPreview"
import bookService from "@/services/book.service.js"

export default {
    name: 'book-list',
    props: ['books'],
    data() {
        return {
        }
    },
    components: {
        bookPreview
    }
    
}
</script>

<style>
 ul {
     display:flex;
     flex-wrap: wrap;
     justify-content: center;
}

li {
    margin: 20px;
}
</style>
