<template>
<section class="book-preview-container">
<div v-if="!book.image" class="card">
  <div class="card-content no-img">

    <div class="content">
    </div>
        <h1 class="title">{{ book.name | removeNonAlpha | capitalize }}</h1>
        <h1 class="subtitle">Author: {{ book.author | removeNonAlpha | capitalize }}</h1>
        <p>{{ book.description }}</p>
  </div>
</div>

      <div v-if="book.image" class="book-preview">
          <img class="book-img" :src="book.image" >
      </div>

        </section>
</template>

<script>


export default {
    name:'book-preview',
    props:['book']
}
</script>

<style>
.no-img {
  height: 400px;
  width: 300px;
}

.book-title {
    height: 100px;
}

.book-preview{
    height: 400px;
    width: 300px;
    overflow: hidden;
    border: 1px solid black;
}

.book-preview-container {
  margin:20px;
}

.card-content {
    background-color: #dffbf5;
}

.book-img {
    height: 400px;
}
</style>
