<template>
<div :class="{'is-active' : isActive}" class="modal">
        <div @click="toggle" class="modal-background"></div>
        <div class="modal-card">
        <header class="modal-card-head">
        <p class="modal-card-title">Edit Book</p>
        <button @click="toggle" class="delete" aria-label="close"></button>
        </header>
    <section class="modal-card-body">
      
      <form @submit.prevent="validateBeforeSubmit">

        <div class="field"> 
            <label class="label">Book Name</label>
            <input @keyup="checkName(bookToSave.name)" class="input" name="book name already exists," v-validate="{is_not : checkDuplicate}" type="text" v-model.trim="bookToSave.name" placeholder="Book Name" />
            <input class="input" name="name" v-validate="'required'" type="hidden" v-model.trim.lazy="bookToSave.name" placeholder="Book Name" />
            <span v-show="errors.has('name')" class="help is-danger">{{ errors.first('name') }}</span>
            <span v-show="errors.has('book name already exists,')" class="help is-danger">{{ errors.first('book name already exists,') }}</span>
        </div>

        <div class="field">
          <label class="label">Publish Date</label>
          <date-picker @change="getDate" lang="en" format="DD-MM-YYYY" input-class="input" :placeholder="bookToSave.publishedDate" v-model="bookToSave.date" ></date-picker>
        </div>

        <div class="field">
            <input class="input" name="Date" v-validate="'required|date_format:DD-MM-YYYY|before:'+ today" format="DD-MM-YYYY" type="hidden" v-model="bookToSave.publishedDate" placeholder="Book Name" />
            <span v-show="errors.has('Date')" class="help is-danger">{{ errors.first('Date') }}</span>
        </div>

        <div class="field">
          <label class="label">Author Name</label>
          <input class="input" name="Author" v-validate="'required'" type="text" v-model.trim="bookToSave.author" placeholder="Book Author" />
          <span v-show="errors.has('Author')" class="help is-danger">{{ errors.first('Author') }}</span>
        </div>

        <div class="field">
          <label class="label">Book Description</label>
            <div class="control">
              <textarea class="textarea" v-model.trim="bookToSave.description" placeholder="Description"></textarea>
            </div>
        </div> 

        <footer class="modal-card-foot">
          <button type="submit" class="button is-success">Save changes</button>
          <button @click.prevent="toggle" class="button">Cancel</button>
        </footer>

      </form>
    </section>
  </div>
</div>
</template>

<script>
import bookService from '@/services/book.service.js'
import storageService from '@/services/storage.service.js'
import DatePicker from 'vue2-datepicker'


export default {
    name: 'book-edit',
    props:['isActive','book'],
    data() {
        return {
            bookToSave:{...this.book},
            checkDuplicate: '',
            books: ''
        }
    },
    components: {
      DatePicker
    },
    created() {
      this.getTodayDate()
      this.bookToSave.date = ''
      this.books = storageService.load('HeroloBooksApp')
    },
    methods: {
        toggle() {
        this.$emit('modalClosed' , !this.isActive);
      },
        checkName(name) {
        var found = this.books.some(function (book) {
        return book.name.toLowerCase() === name.toLowerCase();
        });
        if (found) {
          this.checkDuplicate = name;
        }
       },
        getDate() {
            this.bookToSave.publishedDate = this.$moment(this.bookToSave.date).format("DD-MM-YYYY")
        },
        getTodayDate() {
          this.today = this.$moment(Date.now()).format("DD-MM-YYYY")
        },
        validateBeforeSubmit() {
        this.$validator.validateAll().then((result) => {
          if (result) {
          bookService.editBook(this.bookToSave)
          this.$emit('bookUpdated' , this.bookToSave);
          this.toggle()
            this.$swal(
        'Updated!',
        'Your book has been updated.',
        'success')
        return;
        }
        this.$swal({
        type: 'error',
        title: 'Oops...',
        text: 'Please fix the errors!',
      })
        });
      },
    }
}
</script>

