<template>
<section>


            <div class="file is-centered">
              <label class="file-label">
                
                <input @change="upload($event.target.files)" class="file-input" type="file" name="image">
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fas fa-upload"></i>
                  </span>
                  <span class="file-label">
                    Upload an image…
                  </span>
                </span>
              </label>

            </div>

            
</section>

</template>

<script>
import axios from 'axios'

export default {
  name: 'image-upload',
  props:['book'],
  data() {
    return {
      cloudinary: {
        uploadPreset: "yezwubfp",
        apiKey: "142484333591595",
        cloudName: "amielsosa"
      },
    };
  },
  computed: {
    clUrl() {
      return `https://api.cloudinary.com/v1_1/${
        this.cloudinary.cloudName
      }/upload`;
    }
  },
  methods: {
    upload(file) {
      const formData = new FormData();
      formData.append("file", file[0]);
      formData.append("upload_preset", this.cloudinary.uploadPreset);
      formData.append("tags", "gs-vue,gs-vue-uploaded");
      
      axios.post(this.clUrl, formData).then(res => {
        this.book.image = res.data.secure_url;
      });
    },
  }
};

</script>

