<template>
    <nav class="navbar">
      <div class="navbar-brand">
        <a class="navbar-item">
            <router-link to="/books">
          <img src="../assets/logo.png" alt="Logo">
            </router-link>
        </a>
 
        <div class="navbar-burger" @click="showNav = !showNav" :class="{ 'is-active': showNav }">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
     
      <div class="navbar-menu" :class="{ 'is-active': showNav }">
        <div class="navbar-end">
          <a class="navbar-item" >
            <router-link to="/books">Home</router-link>
          </a>
          <a class="navbar-item">
            <router-link to="/about">About</router-link>
          </a>
        </div>
      </div>
    </nav>
</template>

<script>
export default {
    data() {
        return {
            showNav: false
        }
    }
}
</script>

<style>
.navbar-menu {
    background-color: aquamarine;
}

.navbar-brand {
    background-color: aquamarine;
}
</style>

